<div style="background-color:#e9eaed;">
	<h1>카테고리 등록</h1>
	<form action="/category_write_complete" method="post">
		카테고리 이름 : <input type="text" name="categoryname" placeholder="카테고리 이름을 입력하세요"><br>
		<input type="submit" value="저장"> | <button type="button" class="btn btn-default"><%= link_to '뒤로 가기', '/categories' %></button>
	</form>
</div>


