<h1>카테고리 리스트</h1>
<div style="background-color:#e9eaed;">
  <% @categories.each do |c| %>
  <div>
    <p style="color: blue;"><%= c.name %>, <%= c.id %></p>
  </div>
  <% end %>
  <button type="button" class="btn btn-default"><a href="/category_write">카테고리 등록</a></button>
  <button type="button" class="btn btn-default"><%= link_to '뒤로 가기', '/setting_page' %></button>
</div>
