<p id="notice"><%= notice %></p>

<div class="container">
	<h1 class="bg-info" align="center"><%= @inventory.iname %></h1>
</div>

<h3>정보 입력</h3>
<p>정보 입력 시 반드시 <strong style="color: red">입고나 출고 중량</strong> 중에 한 가지는 입력하셔야 합니다.</p>
<div class="container">
	<%= render "products/form" %>
</div>

<h2>재고에 대한 정보</h2>
<div class="container">
	<table class="table table-hover">
  		<thead>
  			<tr>
  				<th>날짜</th>
  				<th>생산품ID</th>
		  		<th>생산 품명</th>
		  		<th>입고 중량</th>
		  		<th>출고 중량</th>
		  		<th>재고 중량</th>
		  		<th>예상 잔량</th>
		  		<th>월 평균 사용량</th>
		  		<th>비 고</th>
		  		<th></th>
	  		</tr>
  		</thead>
  		<tbody>
		  <%= render "products/product" %>
		</tbody>
  </table>
	<a id="MOVE_TOP_BTN" href="#">TOP</a>
</div>
