<div align="center" class="container">
  <%= form_tag(action: :cookie_rec) do %>
    <h2> 분류 선택 </h2>
  		<label><button type="submit" class="btn btn-default" name="cookie_name" value="fiber"><%link_to '/inventories' %>화이버연결</button></label>
  		<label><button type="submit" class="btn btn-default" name="cookie_name" value="grind"><%link_to '/inventories' %>연마사연결</button></label>
  <% end %>
</div>
