<h1><strong>재고관리</strong>페이지입니다.</h1>
<p>아래 목록을 클릭해주세요.</p>
<ul>
	<li><a href="/inventories">재고리스트</a></li>
	<li><a href="/monthaverage/monthavg">월 사용량</a></li>
	<li><a href="/product_imports/new">Products Import</a></li>
	<li><a href="/products">products Export</a></li>
</ul>
