<h4><%= flash[:alert] %></h4>

<h1>입력 하세요</h1>
<div class="container">
<div class="row">
<div class="col-xs-12">
<form action="/iteminfo/write_complete" method="post">
	ItemInfo name : <input type="text" name="name"><br>
	CategoryID : <input type="text" name="category"><br>
	InputID : <input type="text" name="inputid"><br>
	<input type="submit" value="iteminfo_write">
</form>
</div>
</div>
<div class="row">
<div class="col-md-2">

</div>
</div>
</div>

