<%= form_for(@iteminfo) do |f| %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">

        	  <div class="field">
        	  <%= f.collection_select :categoryID, @iteminfos, :categoryID, :categoryID %>
        	  </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
    </div>
</div>
<% end %>
