<h1>Products</h1>

<table class="table table-hover">
	<thead>
		<tr>
      <th>생산품 날짜</th>
      <th>생산품 넘버</th>
			<th>생산품 이름</th>
			<th>입고 중량</th>
			<th>출고 중량</th>
      <th>재고 중량</th>
			<th>예상 잔량</th>
			<th>월 평 균</th>
      <th>메  모</th>
		</tr>
	</thead>
	<tbody>
    <%= render "products/product" %>
  </tbody>
</table>

<p>
  Download export file: <br>
  <%= link_to "CSV", products_path(format: "csv") %> |
  <%= link_to "Excel", products_path(format: "xls") %>
</p>
