<div class="container">
	<h1 class="bg-info" align="center">생산품명 등록 페이지</h1>
	<form action="/productnameset_write_complete" method="post">
		<label>생산품명 : <input type="text" name="productname" placeholder="생산품명을 입력하세요" autofocus="true"></label>
			<label>설명 : <textarea placeholder="설명을 입력하지 않아도 됩니다."></textarea></label>
			<br>
			<br>
	  <button type="submit" class="btn btn-default">저 장</button>
	  <a href="/productnameset"><button type="button" class="btn btn-default">뒤로 가기</button></a>
	</form>
</div>
