<p id="notice"><%= notice %></p>

	<div class="container">
		<h1 class="bg-info" align="center">생산품명 목록</h1>


				<table class="table table-hover">
					<thead>
						<tr>
							<th>생산품명</th>
		    		</tr>
					</thead>

					<tbody>
						<% @productnameset.each do |c| %>
						<form action="productnameset/<%= c.id %>" method="post">
		  				<tr>
		  					<td><%= c.productname %></td>
								<td align="right">
									<a data-confirm="정말로 삭제하시겠습니까?"><button type="submit" class="btn btn-warning btn-xs">삭 제</button></a>
								</td>
		  				</tr>
							</form>
		    		<% end %>
					</tbody>
				</table>


      <a href="/productnameset_write"><button type="button" class="btn btn-default">생산품명 등록</button></a> | <a href="/."><button type="button" class="btn btn-default">처음으로</button></a>
