<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inventory System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand">재고관리</a>
    	</div>
    	<ul class="nav navbar-nav">
      		<li class="active"><a href="/.">초기화면</a></li>
      		<li><a href="/inventories">재고리스트</a></li>
      		<li><a href="/month_averages">월 평균 사용량</a></li> 
      		<li><a href="#"></a></li>
	    </ul>
  		</div>
	</nav>

	<div class="container">
  		<%= yield %>
	</div>
	
  </body>
</html>
